ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(36, 53, 53);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover:not(.sunmoonsakura-active) {
    background-color:rgb(15, 172, 235) ;
}

.sunmoonsakura-active {
    background-color:rgb(132, 230, 5);
}

p.sunmoonsakura-cmlx {
    text-align:left;
    text-decoration: none;
    color: rgb(255, 174, 0);
}

